asgiref
dj-database-url
Django
django-extra-fields
django-heroku
django-restframework
djangorestframework
djangorestframework-simplejwt
gunicorn
Pillow
psycopg2
psycopg2-binary
PyJWT
pytz
sqlparse
typing-extensions
